# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
.venv/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite3
*.log

# OS specific
.DS_Store
Thumbs.db
